{% extends 'base.html' %}

{% block title %}
    <title>Задачи</title>
{% endblock %}

{% block style %}
    .pagination {
    text-align: center;
    }
    .pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    }
    .pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
    }
    .pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
    }
    .pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
    }
    .pagination .current-page {
    display: inline-block;
    }
    .pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
    }
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for task in tasks %}
                <div class="col-12 col-md-4 mb-3 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.summary }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Проект:
                                <strong>{{ task.project }}</strong></h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Тип:
                                {% for type in task.type.all %}

                                    <strong>{{ type }}</strong>
                                {% endfor %}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Статус:
                                <strong>{{ task.status }}</strong></h6>
                            <p class="card-text"></p>
                            <div class="btn btn-primary">
                                <a href="{% url 'webapp:task_view' task.pk %}" class="btn text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-book" viewBox="0 0 16 16">
                                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                    </svg>
                                </a>
                                <a href="{% url 'webapp:task_update' task.pk %}" class="btn text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd"
                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </a>
                                <a href="{% url 'webapp:task_delete' task.pk %}" class="btn text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-folder-x" viewBox="0 0 16 16">
                                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                                        <path d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3>Задачи не найдены</h3>
            {% endfor %}

            {% include 'partial/paginate.html' %}
        </div>
    </div>
{% endblock %}
