{% extends 'base.html' %}

{% block title %}
    <title>{{ task.summary }}</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ task.summary }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">
                    <small class="text-muted">Статус: {{ task.status }}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">Тип:
                        {% for type in task.type.all %}
                            <span class="badge bg-secondary">{{ type }}</span>
                        {% endfor %}
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">Проект: {{ task.project.name }}</small>
                </p>
                {% if user.is_authenticated %}
                    <a href="{% url 'webapp:task_update' task.pk %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'webapp:task_delete' task.pk %}" class="btn btn-danger">Удалить</a>
                    <a href="{% url 'webapp:project_detail' task.project.pk %}" class="btn btn-primary">Вернуться к проекту</a>
                {% else %}
                    <a href="{% url 'webapp:project_detail' task.project.pk %}" class="btn btn-primary">Вернуться к проекту</a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
