{% extends 'base.html' %}

{% block title %}
    <title>{{ project.name }}</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="tweet-card card mb-4">
            <div class="card-body">
                <div class="tweet-header d-flex align-items-center mb-2">
                    <h5 class="card-title mb-0 me-5">Проект: <strong >{{ project.name }}</strong></h5>
                    <h5 class="card-title mb-0 ms-5">Автор: <strong>{{ project.author }}</strong></h5>

                </div>
                <p class="card-text">Описание: {{ project.description }}</p>
                <p class="card-text">
                    <small class="text-muted">Дата начала: {{ project.date_started|date:'Y-m-d'}}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">Дата окончания: {{ project.date_ended|date:'Y-m-d' }}</small>
                </p>

                <a href="{% url 'webapp:project_list' %}" class="btn btn-primary">
                    <i class="bi bi-arrow-left-short"></i> Вернуться к списку проектов
                </a>
                {% if user.is_authenticated %}

                    <a href="{% url 'webapp:task_add' project.pk %}" class="btn btn-primary">
                        <i class="bi bi-folder-plus"></i> Добавить задачу
                    </a>
                    <a href="{% url 'webapp:project_update' project.pk %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i> Редактировать проект
                    </a>
                    <a href="{% url 'webapp:project_delete' project.pk %}" class="btn btn-primary">
                        <i class="bi би-folder-x"></i> Удалить проект
                    </a>
                {% endif %}
            </div>
        </div>

        <h3 class="mb-4">Задачи</h3>

        <div class="row">
            {% for task in tasks %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="comment-card card h-100">
                        <div class="card-body">
                            <p class="card-text"><strong>{{ task.summary }}</strong></p>
                            <p class="card-text">
                                <small class="text-muted">Проект: {{ task.project.name }}</small>
                                <small class="text-muted">Автор: {{ task.project.author }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Тип:
                                    {% for type in task.type.all %}
                                        <span class="badge bg-secondary">{{ type }}</span>
                                    {% endfor %}
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Статус: {{ task.status }}</small>
                            </p>
                            <div class="mt-1">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'webapp:task_view' task.pk %}"
                                       class="btn btn-info text-light mb-1 ">Просмотр</a>
                                    <a href="{% url 'webapp:task_update' task.pk %}"
                                       class="btn btn-warning text-light mb-1 ">Редактировать</a>
                                    <a href="{% url 'webapp:task_delete' task.pk %}" class="btn btn-danger text-light">Удалить</a>
                                {% else %}
                                    <a href="{% url 'webapp:task_view' task.pk %}"
                                       class="btn btn-info text-light mb-1 ">Просмотр</a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
