{% extends 'base.html' %}

{% block title %}
    <title>Задачи</title>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for task in tasks %}
                <div class="col-12 col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.summary }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Тип: <strong>{{ task.type.name|safe }}</strong></h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Статус: <strong>{{ task.status }}</strong></h6>
                            <p class="card-text"></p>
                            <a href="{% url 'task_view' task.pk %}" class="btn btn-primary">Подробнее</a>
                            <a href="{% url 'task_update' task.pk %}" class="text-light btn btn-warning">Редактировать</a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
